@model IEnumerable<KE03_INTDEV_SE_2_Base.Models.OrderModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetaalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verzendkosten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotaalBedrag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aantal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.OrderDatum)
            </td>
            <td>
                @Html.DisplayFor(model => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(model => item.BetaalStatus)
            </td>
            <td>
                @Html.DisplayFor(model => item.Verzendkosten)
            </td>
            <td>
                @Html.DisplayFor(model => item.TotaalBedrag)
            </td>
            <td>
                @Html.DisplayFor(model => item.KlantId)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Aantal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
