@model IEnumerable<KE03_INTDEV_SE_2_Base.Models.LeverancierModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leverancier_naam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Leverancier_naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Leverancier_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Leverancier_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Leverancier_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
