@* Gemaakt door Fabian *@

@model IEnumerable<DataAccessLayer.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/category-index.css" asp-append-version="true" />

<h1>Categorie</h1>

<div class="category-search mb-3">
    <input type="text"
           id="categorySearch"
           class="form-control category-search__input"
           placeholder="Zoek op categorienaam" />
</div>

<p>
    <a asp-action="Create">Nieuwe toevoegen</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody id="categoryTableBody">
    @foreach (var item in Model) { 
    <tr data-category-name="@item.Naam">
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
        </td>
    </tr>
    }
    </tbody>
</table>

<script src="~/js/category-index.js" asp-append-version="true"></script>
