@model IEnumerable<DataAccessLayer.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductEAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSpecification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductWeightKg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductWarrantyMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubcategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ProductEAN)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductSpecification)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductStock)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductWeightKg)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductWarrantyMonths)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.ManufacturerId)
            </td>
            <td>
                @Html.DisplayFor(model => item.SubcategoryId)
            </td>
            <td>
                @Html.DisplayFor(model => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
